body {
  font-family: 'Libre Franklin', sans-serif;
  color: #333;
  max-width: 100vw;
  padding-bottom: 5vh;
}

a {
  color: #333;
}

.navbar {
  position: fixed;
  height: 6vh;
  display: block;
  width: 100%;
  background: white;
  z-index: 9;
  color: #333;
}

.navbar:focus {
  outline: 0 !important;
}
.logo {
  font-family: 'Libre Franklin', sans-serif;
  margin-top: 0;
  font-size: 1.5em;
  font-weight: bolder;
  padding-left: 2.5%;
  padding-top: 2.5%;
  display: inline-block;
  outline: 0;
}

.accountLink {
  color: #333;
  display: inline-block;
  float: right;
  padding-top: 4%;
  padding-right: 2.5%;
  padding-bottom: 2.5%;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  outline: 0;
}

#red {
  color: #f26060;
}

#yellow {
  color: #ffe74c;
}

#blue {
  color: #2fd3ff;
}

#green {
  color: #63ff82;
}

.agendaContainer {
  width: 100vw;
  background-color: white;
  padding-top: 6vh;
}

.title {
  margin-top: 0;
  padding-top: 10%;
  text-align: center;
  font-size: 2.5em;
}

.agendaCard {
  border-radius: 5px;
  border: solid 1.5px #333;
  padding: 5%;
  width: 80vw;
  display: block;
  margin: 0 auto;
  font-weight: 800;
}

.agendaCard p {
  background-color: white;
  padding: 2.5%;
  border-radius: 5px;
  margin: 0;
}

.itemTitle {
  text-align: center;
}

.tag {
  display: none;
}

.empty {
  text-align: center;
}

.first {
  background-color: #2fd3ff;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.second {
  background-color: #ffe74c;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.third {
  background-color: #f26060;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.firstDominant {
  background-color: #2fd3ff !important;
  border: 0 !important;
}

.secondDominant {
  background-color: #ffe74c !important;
  border: 0 !important;
}

.thirdDominant {
  background-color: #f26060 !important;
  border: 0 !important;
}

.equal {
  background-color: #63ff82 !important;
  border: 0 !important;
}
