body {
  font-family: 'Libre Franklin', sans-serif;
  color: #333;
}
a {
  color: #333;
}

.navbar {
  position: fixed;
  height: 7vh;
  display: block;
  width: 100%;
  background: white;
  z-index: 9;
  color: #333;
}

.logo {
  font-family: 'Libre Franklin', sans-serif;
  margin-top: 0;
  font-size: 1.5em;
  font-weight: bolder;
  padding-left: 2.5%;
  padding-top: 2.5%;
  display: inline-block;
  outline: 0;
}

.accountLink {
  color: #333;
  display: inline-block;
  float: right;
  padding-top: 4%;
  padding-right: 2.5%;
  padding-bottom: 2.5%;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  outline: 0;
}

#red {
  color: #f26060;
}

#yellow {
  color: #ffe74c;
}

#blue {
  color: #2fd3ff;
}

#green {
  color: #63ff82;
}

.agendaContainer {
  width: 100vw;
  background-color: white;
  padding-top: 8vh;
}

.saveChanges {
  background-color: white;
  border: 1.5px solid #333;
  display: block;
  margin: 0 auto;
  border-radius: 40px;
  height: 7vh;
  padding-left: 5%;
  padding-right: 5%;
  outline: 0;
  font-size: 1.3em;
  margin-bottom: 5vh;
}

.deleteAgenda {
  background-color: #f26060;
  border: 0;
  color: white;
  display: block;
  margin: 0 auto;
  border-radius: 40px;
  height: 7vh;
  padding-left: 5%;
  padding-right: 5%;
  outline: 0;
  font-size: 1.3em;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.agendaItem {
  box-sizing: border-box;
  width: 90vw;
  height: 70vh;
  margin: 0 auto;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  position: relative;
  border-radius: 5px;
}

.agendaTitle {
  text-align: center;
  font-weight: 600;
  font-size: 2.5em;
  margin-top: 0;
  display: block;
  outline: 0;
}

.scoutItem {
  display: none;
}

.pioneerItem {
  display: none;
}

.settlerItem {
  display: none;
}

.itemName {
  text-align: left;
  display: block;
  margin: 0;
  margin-left: 2.5%;
  margin-top: 2.5%;
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.pictureDisplay {
  display: block;
  height: 45%;
  width: 100%;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
}

.picture {
  height: 100%;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.noPicture {
  height: 90%;
  width: 90%;
  border-radius: 5px;
  background-color: white;
  display: block;
  position: relative;
  margin: 0 auto;
  top: 7%;
  display: none;
}

.noPicture h2 {
  text-align: center;
  position: relative;
  top: 40%;
  margin: 0;
}

.itemInfo {
  box-sizing: border-box;
  height: 55%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.itemGenre {
  margin-left: 2.5%;
  font-size: 1.35em;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.itemAddress {
  margin-left: 2.5%;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}

.itemPhone {
  margin-left: 2.5%;
  margin-top: 2%;
  margin-bottom: 0;
}

.itemOpen {
  margin-left: 2.5%;
  margin-top: 2.5%;
  color: white;
}
